body {
    color: #FFFFFF;
    background-color: #282828;
    margin: 0;
    padding: 0;
    height: 100%;
}
li {
    float: left;
    margin: 1px;
    border: 1px solid black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.htitleindex{
    border: 2px solid #B19961;
    height: 65px
}

div.htitle{
    border: 2px solid #B19961;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}
hr{
    border: 1px solid #B19961;
}
a:link {
    color: #FFFFFF;
    text-decoration: underline;
}
a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}
a:hover {
    color: #D7D7D7;
    text-decoration: underline;
}

table.home {
    width: 100%;
    border: 0px;
    background-color: #282828
}
table.ctable {
	border-collapse: collapse;
	width: 240px;
	padding: 3px;
	border: 1px solid #B19961;
	align-content: center
}
table.unittable{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
table.unittable td{
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
table.unittable p{
    margin: 0px;
}
table.unittable img{
    height: 21px;
}
.pad{
    padding-left: 1em;
}
.big{
    font-size: 20px;
}
.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}
.top{
    vertical-align: top;
}
tr.ctablehead{
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:#FFFFFF
    vertical-align: top
}
.trim{
    border: 1px solid #B19961;
}